<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>TestingA</servlet-name>
    <servlet-class>TestingA</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Task5b</servlet-name>
    <servlet-class>Task5b</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoubleDemo</servlet-name>
    <servlet-class>DoubleDemo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>colors</servlet-name>
    <servlet-class>colors</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>validateLogin</servlet-name>
    <servlet-class>validateLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addCookie</servlet-name>
    <servlet-class>addCookie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getCookie</servlet-name>
    <servlet-class>getCookie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dateServlet</servlet-name>
    <servlet-class>dateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>form</servlet-name>
    <servlet-class>form</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dbValidateLogindb</servlet-name>
    <servlet-class>dbValidateLogindb</servlet-class>
  </servlet>
  
    <servlet>
    <servlet-name>dbValidateLoginFrmdb</servlet-name>
    <servlet-class>dbValidateLoginFrmdb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestingA</servlet-name>
    <url-pattern>/TestingA</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Task5b</servlet-name>
    <url-pattern>/task5b</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoubleDemo</servlet-name>
    <url-pattern>/double</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>colors</servlet-name>
    <url-pattern>/colors</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>validateLogin</servlet-name>
    <url-pattern>/validateLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addCookie</servlet-name>
    <url-pattern>/addCookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getCookie</servlet-name>
    <url-pattern>/getCookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dateServlet</servlet-name>
    <url-pattern>/dateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>form</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dbValidateLogindb</servlet-name>
    <url-pattern>/dbValidateLogindb</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>dbValidateLoginFrmdb</servlet-name>
    <url-pattern>/dbValidateLoginFrmdb</url-pattern>
  </servlet-mapping>
</web-app>